{{#> layout-page  page_title="Show Tests" page_heading="Kompl SHOW Tests" }}

<script>
  // for ESlint HTML plugin
  var $kompl, $

  let $show = {
    title: 'Jeffs SHOW Compilation',
    slugs: [
      '/kompl/show.html',
      '/kompl/style.html',
      '/t1/index.php/p1',
      '/t1/index.php/p2',
      '/t1/index.php/p3',
      '/kompl/index.html',
    ],
    style: 'zam',
    size: 'large',
    placer: true,
    closer: true,
  }

  function show_here_1()  { $kompl.play({ ...$show, title: $show.title + ': #here1',  options: { show: '#here1',      }}) }
  function show_here_2()  { $kompl.play({ ...$show, title: $show.title + ': #here2',  options: { show: '#here2',      }}) }
  function show_bad_id()  { $kompl.play({ ...$show, title: $show.title + ': #nosuch', options: { show: '#nosuch',     }}) }
  function show_bad_str() { $kompl.play({ ...$show, title: $show.title + ': badstr',  options: { show: 'invalid-id',  }}) }
  function show_20()      { $kompl.play({ ...$show, title: $show.title + ': 0.20',    options: { show: 0.20,          }}) }
  function show_50()      { $kompl.play({ ...$show, title: $show.title + ': 0.50',    options: { show: 0.50,          }}) }
  function show_80()      { $kompl.play({ ...$show, title: $show.title + ': 0.80',    options: { show: 0.80,          }}) }
  function show_100()     { $kompl.play({ ...$show, title: $show.title + ': 1.00',    options: { show: 1.00,          }}) }
  function show_zam()     { $kompl.play({ ...$show, title: $show.title + ': ZAM',     xoptions: {                      }}) }

  // visual clue that above has compiled :)
  // Does not depend on jQuery - maybe it should
  document.addEventListener('DOMContentLoaded', function (ev) {
    $('#greeting').text('Tadah: '+Date.now()).addClass('red')
  })

</script>

<table>
  <tr>
    <th width='0%' >Action</th>
    <th width='70%' >Effect</th>
  </tr>

  <tr>
    <td><button onclick="$kompl.reset()">Reset</button></td>
    <td>Reset all stored Kompl data</td>
  </tr>
  <tr>
    <td><button onclick="$kompl.clear()">Close/Clear</button></td>
    <td>Clear compilation currently in-play</td>
  </tr>

  <tr>
    <td><button onclick="show_here_1()">Slides - HERE1</button></td>
    <td>Show - here1</td>
  </tr>
  <tr>
    <td><button onclick="show_here_2()">Slides - HERE2</button></td>
    <td>Show - here2</td>
  </tr>

  <tr>
    <td><button onclick="show_bad_id()">Slides - Bad Id</button></td>
    <td>Show - bad-id oops</td>
  </tr>
  <tr>
    <td><button onclick="show_bad_str()">Slides - Bad Str</button></td>
    <td>Show - bad-string oops </td>
  </tr>

  <tr>
    <td><button onclick="show_20()">Slides - 20%</button></td>
    <td>Show at 20% scroll</td>
  </tr>
  <tr>
    <td><button onclick="show_50()">Slides - 50%</button></td>
    <td>Show at 50% scroll</td>
  </tr>
  <tr>
    <td><button onclick="show_80()">Slides - 80%</button></td>
    <td>Show at 80% scroll</td>
  </tr>
  <tr>
    <td><button onclick="show_100()">Slides - 100%</button></td>
    <td>Show at 100% scroll</td>
  </tr>

  <tr>
    <td><button onclick="show_zam()">Slides - ZAM</button></td>
    <td>Show ZAM</td>
  </tr>
</table>

{{> partial-heredivs }}

{{/layout-page}}
