<!-- partial-header -->
<div class='outer'><div class='inner'>
  <header>
  <p id='greeting' style='float: right;'>Loading...</p>
  <h1>{{page_heading}}</h1>
  </header>
</div></div>
{{> partial-navigation }}
