<!-- partial_heredivs -->
<style>

  .heres {
    border: 1px solid grey;
    background-color: var(--grey-faint);
    padding: 4px 0.5em;
  }

  #here1 { border: 1px solid red; }
  #here2 { border: 1px solid green; }
  #here3 { border: 1px solid blue; }

  #here1,
  #here2,
  #here3 { min-height: 3em; margin-bottom: 8px; padding: 4px; }
</style>
<div class='heres'>
<p>These DIVs are for embedded Kompl widgets.</p>
<div id='here1' >This is HERE1</div>
<div id='here2' >This is HERE2</div>
<div id='here3' >This is HERE3</div>
</div>
