<!-- partial-navigation -->
<nav>
<script>
  function highlight_here() {
    let $here = window.location.pathname.substring(window.location.pathname.lastIndexOf('/')+1)
    let $anchor = $(`a[href$="${$here}"]`)
    if ( $anchor )  $anchor.addClass('thispage')
  }
  document.addEventListener("DOMContentLoaded", (ev) => {
    highlight_here()
  })
</script>
<div class='outer'><div class='inner'>
  <a href='index.html'>Main Tests</a>
  <a href='style.html'>Style Tests</a>
  <a href='show.html'>Show Tests</a>
</div></div>
</nav>
