<!DOCTYPE html>
<html>
<head>

    <!-- layout-page -->

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{{page_title}}</title>

    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha256-4+XzXVhsDmqanXGHaHvgh1gMQKX40OUvDEBTu8JcmNs=" crossorigin="anonymous"></script>
    <script src="kompl.bundle.js" type="module" ></script>

    {{> partial-head-style }}

</head>
<body>

{{> partial-header }}

<div class='outer'><div class='inner'>

<main>
{{> @partial-block }}
</main>

</div></div>

{{> partial-footer }}

</body>
</html>
